{% extends "layout.html" %}
{% set title = _('Codio') %}
{% block body %}
<div style="width: 1000px">
  <div class="codio-title">
    Codio Instructor Help Center
  </div>
  <div class="codio-tiles">
    <div class="codio-tiles-row">
      <a class="codio-tile" href="{{ pathto("getstarted") }}">
        <div class="codio-tile-title">
          <strong>Overview: Getting Started in Codio</strong>
        </div>
        <div class="codio-tile-triangle-top"></div>
        <div class="codio-tile-triangle-bottom"></div>
        <div class="codio-tile-information">
          Getting started with Codio including videos and tutorials.
        </div>
        <div class="codio-tile-footer">
          <span class="codio-tile-link">Learn More</span>
          <i class="codio-tile-link-angle icon fa fa-angle-right"></i>
        </div>
      </a>
      <a class="codio-tile" href="{{ pathto("authoring") }}">
        <div class="codio-tile-title">
          <strong>Content authoring</strong>
        </div>
        <div class="codio-tile-triangle-top"></div>
        <div class="codio-tile-triangle-bottom"></div>
        <div class="codio-tile-information">
          Authoring instructional content and assessments.
        </div>
        <div class="codio-tile-footer">
          <span class="codio-tile-link">Learn More</span>
          <i class="codio-tile-link-angle icon fa fa-angle-right"></i>
        </div>
      </a>
      <a class="codio-tile" href="{{ pathto("common") }}">
        <div class="codio-tile-title">
          <strong>Developing Code</strong>
        </div>
        <div class="codio-tile-triangle-top"></div>
        <div class="codio-tile-triangle-bottom"></div>
        <div class="codio-tile-information">
          The Codio development environment.
        </div>
        <div class="codio-tile-footer">
          <span class="codio-tile-link">Learn More</span>
          <i class="codio-tile-link-angle icon fa fa-angle-right"></i>
        </div>
      </a>
    </div>

    <div class="codio-tiles-row">
      <a class="codio-tile" href="{{ pathto("setupcourses") }}">
        <div class="codio-tile-title">
          <strong>Course Configuration</strong>
        </div>
        <div class="codio-tile-triangle-top"></div>
        <div class="codio-tile-triangle-bottom"></div>
        <div class="codio-tile-information">
          Creating courses, adding students, connecting to LMS TAs.
        </div>
        <div class="codio-tile-footer">
          <span class="codio-tile-link">Learn More</span>
          <i class="codio-tile-link-angle icon fa fa-angle-right"></i>
        </div>
      </a>
      <a class="codio-tile" href="{{ pathto("teaching") }}">
        <div class="codio-tile-title">
          <strong>Teaching in Codio</strong>
        </div>
        <div class="codio-tile-triangle-top"></div>
        <div class="codio-tile-triangle-bottom"></div>
        <div class="codio-tile-information">
          Grading, viewing student work, remote toolkit.
        </div>
        <div class="codio-tile-footer">
          <span class="codio-tile-link">Learn More</span>
          <i class="codio-tile-link-angle icon fa fa-angle-right"></i>
        </div>
      </a>
      <a class="codio-tile" href="{{ pathto("admin") }}">
        <div class="codio-tile-title">
          <strong>Admin</strong>
        </div>
        <div class="codio-tile-triangle-top"></div>
        <div class="codio-tile-triangle-bottom"></div>
        <div class="codio-tile-information">
          LMS Integration, Organization settings, FERPA, Accessibility.
        </div>
        <div class="codio-tile-footer">
          <span class="codio-tile-link">Learn More</span>
          <i class="codio-tile-link-angle icon fa fa-angle-right"></i>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}