{% extends "layout.html" %}
{% set title = _('Codio') %}
{% block body %}
<div style="width: 1000px">
  <div class="codio-tile">
  <strong>Overview: Getting Started in Codio</strong><br/><br/>
  <a href="/getstarted">Learn More</a>
  </div>

  <div class="codio-tile">
  <strong>Content authoring</strong><br/><br/>
  <a href="/authoring">Learn More</a>
  </div>

  <div class="codio-tile">
  <strong>Developing Code</strong><br/><br/>
  <a href="/common">Learn More</a>
  </div>

  <div class="codio-tile">
  <strong>Course Configuration</strong><br/><br/>
  <a href="/setupcourses">Learn More</a>
  </div>

  <div class="codio-tile">
  <strong>Teaching in Codio</strong><br/><br/>
  <a href="/teaching">Learn More</a>
  </div>

  <div class="codio-tile">
  <strong>Admin</strong><br/><br/>
  <a href="/admin">Learn More</a>
  </div>
</div>
{% endblock %}