{% extends "layout.html" %}
{% set title = _('Student') %}
{% block body %}
<div style="width: 1000px">
  <div class="codio-tile">
  <strong>Accessing Codio</strong><br/><br/>
  <a href="/accessing-codio">Learn More</a>
  </div>

  <div class="codio-tile">
  <strong>Your Courses</strong><br/><br/>
  <a href="/courses">Learn More</a>
  </div>

  <div class="codio-tile">
  <strong>Tools</strong><br/><br/>
  <a href="/tools">Learn More</a>
  </div>

  <div class="codio-tile">
  <strong>Developing Code</strong><br/><br/>
  <a href="/common">Learn More</a>
  </div>
</div>
{% endblock %}