{% extends "layout.html" %}
{% set title = _('Student') %}
{% block body %}
<div style="width: 1000px">
  <div class="codio-title">
    Codio Student Help Center
  </div>
  <div class="codio-tiles">
    <div class="codio-tiles-row">
      <div class="codio-tile">
        <div class="codio-tile-title">
          <strong>Accessing Codio</strong>
        </div>
        <div class="codio-tile-triangle-top"></div>
        <div class="codio-tile-triangle-bottom"></div>
        <div class="codio-tile-information">
          Joining a course, passwords, subscriptions.
        </div>
        <div class="codio-tile-footer">
          <a class="codio-tile-link" href="{{ pathto("accessing-codio") }}">Learn More</a>
        </div>
      </div>
      <div class="codio-tile">
        <div class="codio-tile-title">
          <strong>Your courses</strong>
        </div>
        <div class="codio-tile-triangle-top"></div>
        <div class="codio-tile-triangle-bottom"></div>
        <div class="codio-tile-information">
          Dashboard, courses, assignments, grades.
        </div>
        <div class="codio-tile-footer">
          <a class="codio-tile-link" href="{{ pathto("courses") }}">Learn More</a>
        </div>
      </div>
    </div>
    <div class="codio-tiles-row">
      <div class="codio-tile">
        <div class="codio-tile-title">
          <strong>Tools</strong>
        </div>
        <div class="codio-tile-triangle-top"></div>
        <div class="codio-tile-triangle-bottom"></div>
        <div class="codio-tile-information">
          Dyslexia support, Lexikon, Code Playback.
        </div>
        <div class="codio-tile-footer">
          <a class="codio-tile-link" href="{{ pathto("tools") }}">Learn More</a>
        </div>
      </div>
      <div class="codio-tile">
        <div class="codio-tile-title">
          <strong>Developing Code</strong>
        </div>
        <div class="codio-tile-triangle-top"></div>
        <div class="codio-tile-triangle-bottom"></div>
        <div class="codio-tile-information">
          The Codio development environment.
        </div>
        <div class="codio-tile-footer">
          <a class="codio-tile-link" href="{{ pathto("common") }}">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}