body {
    background-color: #02064e;
}

.footer {
    border-top: none;
}

.container-xl .row {
    justify-content: center;
}

.container-xl .no-sidebar {
    display: none !important;
}

.container-xl .d-none {
    display: none !important;
}
