body {
    background-color: #02064e;
}

.footer {
    border-top: none;
}

.container-xl .row {
    justify-content: center;
}

.container-xl .no-sidebar {
    display: none !important;
}

.container-xl .d-none {
    display: none !important;
}

@media (min-width: 1200px) {
    .col-xl-8 {
        flex: 0 0 91.66667% !important;
        max-width: 91.66667% !important;
    }
}
