.bd-search-codio .icon {
    right: 25px;
    left: auto;
}

.bd-search-codio input {
    padding-left: 14px;
    border-radius: 20px;
}

/* clears the 'X' from Internet Explorer */
.bd-search-codio input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
.bd-search-codio input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
.bd-search-codio input[type="search"]::-webkit-search-decoration,
.bd-search-codio input[type="search"]::-webkit-search-cancel-button,
.bd-search-codio input[type="search"]::-webkit-search-results-button,
.bd-search-codio input[type="search"]::-webkit-search-results-decoration { display: none; }
